// Base colors
$color-black: #000000;
$color-shark: #21252d;
$color-charade: #292d38;
$color-dusty-gray: #999999;
$color-gray: #868686;
$color-silver: #bcbcbc;
$color-gallery-darken: #eeeeee;
$color-gallery: #f0f0f0;
$color-alabaster: #fafafa;
$color-white: #ffffff;

$color-hippie-blue: #538ea6;
$color-bright-turquoise: #10cfbd;
$color-picton-blue: #48b0f7;
$color-scampi: #6d5cae;
$color-limed-spruce: #3d4752;

$color-neptun: #74b7a9;
$color-viking: #6dbcdb;
$color-rajah: #f3b562;
$color-burnt-sienna: #f06060;

// Global colors
$color-global: $color-gray;
$color-global-success: $color-neptun;
$color-global-complete: $color-viking;
$color-global-primary: $color-scampi;
$color-global-secondary: $color-silver;
$color-global-warning: $color-rajah;
$color-global-danger: $color-burnt-sienna;
$color-global-info: $color-viking;
$color-global-light: $color-gallery-darken;

// Container
$color-container-bg: $color-white;

// Top-bar
$color-top-bar: $color-white;
$color-top-bar-bg: $color-hippie-blue;
$color-top-bar-border: $color-hippie-blue;

// Explorer
$color-explorer-section: $color-dusty-gray;
$color-explorer-section-bg: $color-gallery;
$color-explorer-item-checkbox-border: $color-dusty-gray;
$color-explorer-item-checkbox-checked: $color-hippie-blue;
$color-explorer-item-bg-hover: $color-gallery;
$color-explorer-item-bg-checked: lighten($color-hippie-blue, 35%);
