// Base colors
$color-black: #000000;
$color-shark: #21252d;
$color-charade: #292d38;
$color-dusty-gray: #999999;
$color-gray: #868686;
$color-silver: #bcbcbc;
$color-gallery-darken: #eeeeee;
$color-gallery: #f0f0f0;
$color-alabaster: #fafafa;
$color-white: #ffffff;

$color-hippie-blue: #538ea6;
$color-bright-turquoise: #10cfbd;
$color-picton-blue: #48b0f7;
$color-scampi: #6d5cae;
$color-limed-spruce: #3d4752;

$color-neptun: #74b7a9;
$color-viking: #6dbcdb;
$color-rajah: #f3b562;
$color-burnt-sienna: #f06060;

// Global colors
$color-global: $color-gray;
$color-global-success: $color-neptun;
$color-global-complete: $color-viking;
$color-global-primary: $color-scampi;
$color-global-secondary: $color-silver;
$color-global-warning: $color-rajah;
$color-global-danger: $color-burnt-sienna;
$color-global-info: $color-viking;
$color-global-light: $color-gallery-darken;

// Container
$color-container-bg: $color-white;

// Nav
$color-nav: $color-charade;
$color-nav-bg: $color-alabaster;
$color-nav-border: $color-gallery;

// Sidebar
$color-sidebar-border: $color-gallery;
$color-sidebar-back-icon: $color-charade;
$color-sidebar-back-name: $color-charade;
$color-sidebar-item-hover-bg: $color-alabaster;

// Explorer
$color-explorer-section: $color-dusty-gray;
$color-explorer-section-bg: $color-gallery;
$color-explorer-item-name: $color-charade;
$color-explorer-item-details: $color-dusty-gray;
$color-explorer-item-checkbox-icon: $color-dusty-gray;
$color-explorer-item-checkbox-border: $color-dusty-gray;
$color-explorer-item-options-icon: $color-charade;
$color-explorer-item-hover-bg: $color-alabaster;
$color-explorer-item-selected-bg: $color-gallery;

// Dropdown
$color-dropdown-bg: $color-white;
$color-dropdown-border: $color-silver;
$color-dropdown-item-header: $color-dusty-gray;
$color-dropdown-item-hover-bg: $color-gallery;
$color-dropdown-item-danger: $color-white;
$color-dropdown-item-danger-bg: $color-global-danger;
$color-dropdown-item-danger-hover-bg: darken($color-global-danger, 10%);

// Button
$color-btn-icon: $color-charade;
$color-btn-primary: $color-white;
$color-btn-primary-bg: $color-global-primary;
$color-btn-primary-hover-bg: darken($color-global-primary, 10%);

$color-btn-default: $color-charade;
$color-btn-default-bg: $color-gallery-darken;
$color-btn-default-hover-bg: darken($color-gallery-darken, 10%);

$color-btn-info: $color-white;
$color-btn-info-bg: $color-global-info;
$color-btn-info-hover-bg: darken($color-global-info, 10%);

$color-btn-warning: $color-white;
$color-btn-warning-bg: $color-global-warning;
$color-btn-warning-hover-bg: darken($color-global-warning, 10%);

$color-btn-danger: $color-white;
$color-btn-danger-bg: $color-global-danger;
$color-btn-danger-hover-bg: darken($color-global-danger, 10%);

// Modal
$color-modal-bg: $color-white;
$color-modal-shadow-bg: $color-black;
$color-modal-canvas-bg: $color-charade;
$color-modal-header-line-bg: $color-gallery;
$color-modal-header-content: $color-dusty-gray;
$color-modal-header-content-bg: $color-white;
