.flex {
    position: relative;
    display: flex;

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-nowrap {
        flex-wrap: nowrap;
    }

    &-justify-start {
        justify-content: flex-start;
    }

    &-justify-end {
        justify-content: flex-end;
    }

    &-justify-center {
        justify-content: center;
    }

    &-justify-space-between {
        justify-content: space-between;
    }

    &-justify-space-around {
        justify-content: space-around;
    }

    &-align-stretch {
        align-items: stretch;
    }

    &-align-start {
        align-items: flex-start;
    }

    &-align-end {
        align-items: flex-end;
    }

    &-align-center {
        align-items: center;
    }

    &-align-content-stretch {
        align-content: stretch;
    }

    &-align-content-start {
        align-content: flex-start;
    }

    &-align-content-end {
        align-content: flex-end;
    }

    &-align-content-center {
        align-content: center;
    }

    &-align-content-space-between {
        align-content: space-between;
    }

    &-align-content-space-around {
        align-content: space-around;
    }
}
