@import url("https://fonts.googleapis.com/css?family=Krub:300,400,500,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Niramit:300,400,500,600,700&subset=latin-ext");

@mixin default-font($font-size: 1em, $font-weight: 400) {
    @include krub-font($font-size, $font-weight);
}

@mixin krub-font($font-size: 1em, $font-weight: 400) {
    font-family: "Niramit", sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin niramit-font($font-size: 1em, $font-weight: 400) {
    font-family: "Niramit", sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}
