$fa-font-path: "../webfonts/fontawesome";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1700px
);

$explorer-icons-path: "../images/file-types/";
$explorer-icons: (
    _: "icon-file.png",
    jpg: "icon-file-jpg.png"
);

$nav-height: 100px;
$nav-light-height: 50px;
$nav-side-width: 500px;
$nav-side-small-width: 200px;

$sidebar-width: 500px;
$sidebar-options-height: 40px;
