.explorer {
    position: relative;
    display: block;
    width: 100%;

    &-section {
        position: relative;
        display: block;
        width: 100%;
        height: 25px;
        margin: 10px 0;

        .line {
            position: absolute;
            display: block;
            width: 100%;
            top: 10px;
            left: 0;
            height: 5px;
            background-color: $color-explorer-section-bg;
        }

        .name {
            position: absolute;
            display: block;
            top: 7px;
            left: 30px;
            font-size: .8em;
            font-weight: 600;
            line-height: 1em;
            text-transform: uppercase;
            margin: 0;
            padding: 3px 10px;
            color: $color-explorer-section;
            background-color: $color-container-bg;
        }
    }

    &-list {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: 40px;

        .item {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 33.3%;

            &-checkbox {
                position: relative;
                display: block;
                width: 13px;
                height: 13px;
                margin: 0 10px;
                border: 1px solid $color-explorer-item-checkbox-border;
                cursor: pointer;
            }

            &-icon {
                position: relative;
                display: block;
                width: 40px;
                height: 40px;
                margin: 0 20px 0 10px;
            }

            &-data {
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                flex-grow: 1;

                .name {
                    position: relative;
                    display: block;
                    font-size: 1.4em;
                    font-weight: 500;
                    line-height: 1.3em;
                }

                .details {
                    position: relative;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    color: $color-explorer-item-details;
                }
            }

            &-options {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                margin: 0 0 0 10px;
            }

            &.directory {
                .item-icon {
                    background: url("../images/icons/icon-directory.png") 50% 50% no-repeat transparent;
                    background-size: contain;
                }
            }

            &.file {
                .item-icon {
                    background: url("../images/icons/icon-file-text.png") 50% 50% no-repeat transparent;
                    background-size: contain;
                }
            }

            &.selected {
                .item-checkbox {
                    &::after {
                        content: "\f00c";
                        position: absolute;
                        display: block;
                        top: 1px;
                        left: 1px;
                        @include awesome-solid-font(.7em);
                    }
                }
            }
        }
    }
}
